.idea/
*.sublime*
*.swp
functions
iron.json
dj.config.json
dj.cluster.*.json
script.tar.gz
app.zip
/app
/microgateway
/gateway
/functions
/functions-alpine
/functions.exe
bolt.db
.glide/
/fnctl

_vendor*/

private.sh
.env
*.pem
data/
.vscode/
fn/func.yaml
tmp/
fnlb/fnlb
/fn
.DS_Store
/fnserver
*iml
target/
fn-api-tests.test
