.idea/
*.sublime*
*.swp
functions
iron.json
dj.config.json
dj.cluster.*.json
script.tar.gz
app.zip
/app
vendor/
/microgateway
/gateway
/functions
/functions-alpine
/functions.exe
bolt.db
.glide/
/fnctl

private.sh
.env
*.pem
data/
