version: 2
jobs:
  build:
    machine: true
    working_directory: ~/go/src/github.com/fnproject/fn
    environment: # apparently expansion doesn't work here yet: https://discuss.circleci.com/t/environment-variable-expansion-in-working-directory/11322
      - GOPATH=/home/circleci/go
      - GOVERSION=1.8.3
      - OS=linux
      - ARCH=amd64
    steps:
      - checkout
      # update Go
      # - run: |
      #     go version
      #     go env GOROOT
      #     sudo rm -rf /usr/local/go
      #     wget https://storage.googleapis.com/golang/go$GOVERSION.$OS-$ARCH.tar.gz
      #     # mkdir -p $HOME/golang
      #     # tar -C $HOME/golang -xzf go1.8.3.linux-amd64.tar.gz
      #     sudo tar -C /usr/local -xzf go$GOVERSION.$OS-$ARCH.tar.gz
      #     go get -u github.com/golang/dep/...
      # - run: go version
      # # update Docker
      # - run: |
      #     docker version
      #     sudo service docker stop
      #     curl -fsSL https://get.docker.com/ | sudo sh
      # - run: docker version
      # - run: env
      # - run: pwd
      # - run: ls -al
      # - run: ./test.sh
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "circle" ]; then
              git config --global user.email "ci@fnproject.com"
              git config --global user.name "CI"
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              ./release.sh
            fi
