version: 2
jobs:
  build:
    machine:
      image: circleci/classic:201708-01
    working_directory: ~/go/src/github.com/fnproject/fn
    environment: # apparently expansion doesn't work here yet: https://discuss.circleci.com/t/environment-variable-expansion-in-working-directory/11322
      - GOPATH=/home/circleci/go
      - GOVERSION=1.8.3
      - OS=linux
      - ARCH=amd64
    steps:
      - checkout
      # update Go
      - run: |
          go version
          go env GOROOT
          mkdir tmp
          cd tmp
          sudo rm -rf /usr/local/go
          wget https://storage.googleapis.com/golang/go$GOVERSION.$OS-$ARCH.tar.gz
          sudo tar -C /usr/local -xzf go$GOVERSION.$OS-$ARCH.tar.gz
      - run: go version
      # update Docker
      - run: |
          docker version
          sudo service docker stop
          curl -fsSL https://get.docker.com/ | sudo sh
      - run: docker version
      - run: make docker-build
      - run: make install
      - run: make test
      - run: ./go-fmt.sh
      # TODO these should be inside test.sh file ?
      - run: ./api_test.sh mysql 4
      - run: ./api_test.sh postgres 4
      - run: ./api_test.sh sqlite 4
      - run: docker run --rm  quay.io/goswagger/swagger validate https://raw.githubusercontent.com/fnproject/fn/${CIRCLE_BRANCH}/docs/swagger.yml
      - deploy:
          command: |
            if [[ "${CIRCLE_BRANCH}" == "master" && -z "${CIRCLE_PR_REPONAME}" ]]; then
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              git config --global user.email "ci@fnproject.com"
              git config --global user.name "CI"
              git branch --set-upstream-to=origin/${CIRCLE_BRANCH} ${CIRCLE_BRANCH}
              ./release.sh
            fi
